@charset "UTF-8";

*{
    margin: 0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*a tag com vh o 100 siginigfica 100% da altura da tela */
    width: 100vw; /*significa a largura da tela tem que ser feito largura com vw */
    background-color: blue;


}

body {background-image: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-size: cover; /*isso faz a imagem se expandir para tela inteira */
    background-attachment: fixed; /*isso faz a tela ficar fixa */
    background-repeat: no-repeat;
}


main {
    height: 100vh;
    position: relative; /*isso faz vc poder centralizar o conteudo */
   
    
}

section#celular {
    position: absolute; /*isso faz vc poder centralizar o conteudo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;

    height: 627px;
    width: 311px;
    
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;}

    iframe#tela {
        position: relative;
        top: 80px;
        left: 22px;
        width: 268px;
        height: 472px;
    }

    section#redes-sociais img {
        width: 50px;
        margin: 10px;
        border-radius: 50px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
        box-sizing: border-box; /*isso faz a bordar fazer parte da div */
    } 

    section#redes-sociais {
        text-align: right;

    }

    section#redes-sociais img:hover { 
        border: 2px solid rgba(255, 255, 255, 0.623);
        transform: translate(-3px, -3px); /* isso faz a imagem se mecher */
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.459);
        transition: transform 0.5s, border 1s;
    }


    

    
    
    


    





    /* position: relative; isso faz vc poder centralizar o conteudo 
    position: absolute; isso faz vc poder centralizar o conteudo 
    transform: translate(-50%, -50%) ; essas são as coisas que precisam ser feitas para centralizar um conteudo no meio */
    
    